<div class="login">
		{{input-user username=username password=password param="login" action="login" btnText="登录" btnClass="btn-green"}}
		{{#link-to 'regist'  class="reg-tip"}}没有账号？点击注册.{{/link-to}}
</div>
