<div class="regist">
		{{input-user username=username password=password param="regist" action="regist" btnText="注册" btnClass="btn-gray"}}
		{{#link-to 'login'  class="reg-tip"}}已有账号？立即登录.{{/link-to}}
</div>