@import "base";
@import '../lib/dialog/dialog.css';
@import 'iconfont.css';
$fontSize:13px;
body{font-size: $fontSize;color:$color;font-family: $fontFamily;}
.txt-input{
	border:none;
	border-bottom:$border;
	height: nth($inputHeight,1);
	line-height: nth($inputHeight,2);
	padding:$inputPadding;
	box-sizing: $boxSizing;
	display: $block;
	width:$inputWidth;
}
.login,.regist{
	width:7rem;
	margin-left: .25rem;
	position: fixed;
	bottom:30%;
	input{
		margin-bottom: 10px;
	}
	.input-uname,.input-pwd{
		position: relative;
		.iconfont{
			color:$fontColor;
			position: absolute;
			bottom:8px;
			left:5px;
		}
		input{padding:0 25px;}
		.pwd-look{
			left:auto;right:5px;
		}
		.pwd-look.active{
			color:#333333;
		}
	}
}
.btn-green{
	background-color: $green;
}
.btn-gray{
	background-color: $gray;
}
.reg-tip{
	margin-top:30px;text-align: center;display: block;
}