@import "base";
@import "../lib/dialog/dialog.css";
@import "iconfont.css";

body {
    font-size: $fontSize;
    color: $color;
    font-family: $fontFamily;
    background-color:$backgroundColor;
}

.txt-input {
    border: none;
    border-bottom: $border;
    height: nth($inputHeight, 1);
    line-height: nth($inputHeight, 2);
    padding: $inputPadding;
    box-sizing: $boxSizing;
    display: $block;
    width: $inputWidth;
    letter-spacing: 2px;
    font-weight:500;
    background-color:transparent;
}
.txt-input[readonly]{
    border:none;
}
.login, .regist {
    width: 7rem;
    margin-left: .25rem;
    position: fixed;
    bottom: 30%;

    input {
        margin-bottom: 10px;
    }

    .input-uname, .input-pwd {
        position: relative;

        .iconfont {
            color: $fontColor;
            position: absolute;
            bottom: 8px;
            left: 5px;
        }

        input {
            padding: 0 25px;
        }

        .pwd-look {
            left: auto;
            right: 5px;
            width: 20px;
            text-align: right;
        }

        .pwd-look.active {
            color: #333333;
        }
    }
    &.changepwd{
        bottom:40%;
    }
}

.btn-green {
    background-color: $green;
}

.btn-gray {
    background-color: $gray;
}

.reg-tip {
    margin-top: 30px;
    text-align: center;
    display: block;
}
.menu {
    position: fixed;
    bottom: .1rem;
    width:100%;
    text-align: center;

    .menu-container{
        position:relative;
        width:$menuFontSize;
        height: $menuFontSize;
        display: block;
        margin:$center;
    }

    a {
        font-size:$menuFontSize;
        &.menu-child{
            position:absolute;
            display: block;
            font-size: $menuChildFontSize;
        }
        &.members{
            top:-.2*$menuFontSize;
            left:-2.4*$menuFontSize;
        }
        &.user-center{
            top:-.2*$menuFontSize;
            right:-2.4*$menuFontSize;
        }
        &.actived{
            color:$menuActivedColor;
        }
        &.home{
            top:-1.3*$menuFontSize;
            right:-$menuFontSize;
        }
        &.write{
            top:-1.3*$menuFontSize;
            left:-$menuFontSize;
        }
    }
}
@import "user-center";
@import "member";