.user-info {
    position: relative;

    img {
        width: 1rem;
        height: 1rem;
        float: left;
    }

    line-height: 1rem;

    .user-desc {
        display: inline-block;

        @extend .ml10;

        line-height: 20px;
    }

    .nickname {
        @extend .f14;
    }

    .username {
        @extend .f12;

        color: darken(#ccc, 10%);
    }

    .go {
        top: .5rem !important;
    }

    overflow: hidden;
}

.toolbar {
    color: $fontColor;
    display: block;
    background-color: $toolBackColor;
    padding: $toolbarPadding;
    margin-top: .3rem;
    line-height: 1;

    @extend .f14;

    position: relative;

    &.p2 {
        padding: $toolbarPadding * 2;
    }

    .go {
        position: absolute;
        right: .1rem;
        top: .2rem;
        color: $grayColor;
    }
}

/*eidt*/
.edit {
    @extend .mt20;

    background-color: $toolBackColor;
    padding: $toolbarPadding;

    .row {
        border-bottom: 1px solid #e5e5e5;
        overflow: hidden;
        vertical-align: middle;
        display: table;
        width: $screenWidth - $toolbarPadding * 4;
        line-height: $fontSize * 3;
        padding: $toolbarPadding;

        img {
            width: 1rem;
            height: 1rem;
            display: inline-block;
            vertical-align: middle;
        }

        .label {
            display: table-cell;
            vertical-align: middle;
        }

        %eidtColor {
            color: lighten($fontColor, 30%);
        }

        .edit-info {
            display: table-cell;
            text-align: right;
            float: right;
            @extend %eidtColor;

            input {
                border: none;
                text-align: right;

                @extend %eidtColor;
            }
        }

        &:last-child {
            border: none !important;
        }
    }
}
.mask{
    height: 100%;
    width:100%;
    background-color:rgba(0,0,0,.5);
    position:absolute;
    top:0;
    left:0;
    z-index: 9;
}
.box{
    position:absolute;
    z-index: 10;
    background-color:#fff;
    top:40%;
    border-radius:$borderRadius;
    width:7.5rem;
    box-sizing:$boxSizing;
    padding:$toolbarPadding;
    .item{
        padding:$toolbarPadding;
        border-bottom:1px solid #e5e5e5;
        &:last-child {
            border: none !important;
        }
    }
}