@import url(../lib/dialog/dialog.css);
@import url(iconfont.css);
html, body, ul, li, input {
  padding: 0;
  margin: 0;
  list-style: none;
  outline: none;
  resize: none; }

.f12 {
  font-size: 12px; }

a {
  color: #59AAE1;
  text-decoration: none; }
  a:hover {
    color: #59AAE1; }

.f12 {
  font-size: 12px; }

.f13 {
  font-size: 13px; }

.f14 {
  font-size: 14px; }

.f16 {
  font-size: 16px; }

.f18 {
  font-size: 18px; }

.btn {
  border: none;
  border-radius: 4px;
  color: #fff;
  text-align: center;
  font-size: 14px;
  cursor: pointer; }
  .btn.btn-big {
    font-size: 16px;
    width: 100%;
    padding: 10px 0; }

.mt5 {
  margin-top: 5px; }

.mt10 {
  margin-top: 10px; }

.mt15 {
  margin-top: 15px; }

.mt20 {
  margin-top: 20px; }

.mt25 {
  margin-top: 25px; }

.mt30 {
  margin-top: 30px; }

.mr5 {
  margin-right: 5px; }

.mr10 {
  margin-right: 10px; }

.mr15 {
  margin-right: 15px; }

.mr20 {
  margin-right: 20px; }

.mr25 {
  margin-right: 25px; }

.mr30 {
  margin-right: 30px; }

.mb5 {
  margin-bottom: 5px; }

.mb10 {
  margin-bottom: 10px; }

.mb15 {
  margin-bottom: 15px; }

.mb20 {
  margin-bottom: 20px; }

.mb25 {
  margin-bottom: 25px; }

.mb30 {
  margin-bottom: 30px; }

.ml5 {
  margin-left: 5px; }

.ml10 {
  margin-left: 10px; }

.ml15 {
  margin-left: 15px; }

.ml20 {
  margin-left: 20px; }

.ml25 {
  margin-left: 25px; }

.ml30 {
  margin-left: 30px; }

.pt5 {
  padding-top: 5px; }

.pt10 {
  padding-top: 10px; }

.pt15 {
  padding-top: 15px; }

.pt20 {
  padding-top: 20px; }

.pt25 {
  padding-top: 25px; }

.pt30 {
  padding-top: 30px; }

.pr5 {
  padding-right: 5px; }

.pr10 {
  padding-right: 10px; }

.pr15 {
  padding-right: 15px; }

.pr20 {
  padding-right: 20px; }

.pr25 {
  padding-right: 25px; }

.pr30 {
  padding-right: 30px; }

.pb5 {
  padding-bottom: 5px; }

.pb10 {
  padding-bottom: 10px; }

.pb15 {
  padding-bottom: 15px; }

.pb20 {
  padding-bottom: 20px; }

.pb25 {
  padding-bottom: 25px; }

.pb30 {
  padding-bottom: 30px; }

.pl5 {
  padding-left: 5px; }

.pl10 {
  padding-left: 10px; }

.pl15 {
  padding-left: 15px; }

.pl20 {
  padding-left: 20px; }

.pl25 {
  padding-left: 25px; }

.pl30 {
  padding-left: 30px; }

.hide {
  display: none; }

body {
  font-size: 13px;
  color: #333;
  font-family: "Microsoft YaHei"; }

.txt-input {
  border: none;
  border-bottom: 1px solid #e5e5e5;
  height: 30px;
  line-height: 30px;
  padding: 2px 5px;
  box-sizing: border-box;
  display: block;
  width: 100%;
  letter-spacing: 2px; }

.login, .regist {
  width: 7rem;
  margin-left: .25rem;
  position: fixed;
  bottom: 30%; }
  .login input, .regist input {
    margin-bottom: 10px; }
  .login .input-uname, .login .input-pwd, .regist .input-uname, .regist .input-pwd {
    position: relative; }
    .login .input-uname .iconfont, .login .input-pwd .iconfont, .regist .input-uname .iconfont, .regist .input-pwd .iconfont {
      color: #e5e5e5;
      position: absolute;
      bottom: 8px;
      left: 5px; }
    .login .input-uname input, .login .input-pwd input, .regist .input-uname input, .regist .input-pwd input {
      padding: 0 25px; }
    .login .input-uname .pwd-look, .login .input-pwd .pwd-look, .regist .input-uname .pwd-look, .regist .input-pwd .pwd-look {
      left: auto;
      right: 5px;
      width: 20px;
      text-align: right; }
    .login .input-uname .pwd-look.active, .login .input-pwd .pwd-look.active, .regist .input-uname .pwd-look.active, .regist .input-pwd .pwd-look.active {
      color: #333333; }

.btn-green {
  background-color: #1DAF4D; }

.btn-gray {
  background-color: #55534C; }

.reg-tip {
  margin-top: 30px;
  text-align: center;
  display: block; }

.menu {
  position: fixed;
  bottom: .1rem;
  width: 100%;
  text-align: center; }
  .menu .menu-container {
    position: relative;
    width: 0.8rem;
    height: 0.8rem;
    display: block;
    margin: 0 auto; }
  .menu a {
    font-size: 0.8rem; }
    .menu a.menu-child {
      position: absolute;
      display: block;
      font-size: 0.6rem; }
    .menu a.members {
      top: -0.16rem;
      left: -1.92rem; }
      .menu a.members.actived {
        color: #08B62C; }
    .menu a.user-center {
      top: -0.16rem;
      right: -1.92rem; }
      .menu a.user-center.actived {
        color: #08B62C; }
    .menu a.home {
      top: -1.04rem;
      right: -0.8rem; }
    .menu a.write {
      top: -1.04rem;
      left: -0.8rem; }
