@import url(../lib/dialog/dialog.css);
@import url(../lib/mobile-select-area/mobile-select-area.css);
@import url(iconfont.css);
html, body, ul, li, input {
  padding: 0;
  margin: 0;
  list-style: none;
  outline: none;
  resize: none; }

.f12, .user-info .username {
  font-size: 12px; }

a {
  color: #59AAE1;
  text-decoration: none; }
  a:hover {
    color: #59AAE1; }

.f12, .user-info .username {
  font-size: 12px; }

.f13 {
  font-size: 13px; }

.f14, .user-info .nickname, .toolbar {
  font-size: 14px; }

.f16 {
  font-size: 16px; }

.f18 {
  font-size: 18px; }

.btn {
  border: none;
  border-radius: 4px;
  color: #fff;
  text-align: center;
  font-size: 14px;
  cursor: pointer; }
  .btn.btn-big {
    font-size: 16px;
    width: 100%;
    padding: 10px 0; }

.mt5 {
  margin-top: 5px; }

.mt10 {
  margin-top: 10px; }

.mt15 {
  margin-top: 15px; }

.mt20, .edit {
  margin-top: 20px; }

.mt25 {
  margin-top: 25px; }

.mt30 {
  margin-top: 30px; }

.mr5 {
  margin-right: 5px; }

.mr10 {
  margin-right: 10px; }

.mr15 {
  margin-right: 15px; }

.mr20 {
  margin-right: 20px; }

.mr25 {
  margin-right: 25px; }

.mr30 {
  margin-right: 30px; }

.mb5 {
  margin-bottom: 5px; }

.mb10 {
  margin-bottom: 10px; }

.mb15 {
  margin-bottom: 15px; }

.mb20 {
  margin-bottom: 20px; }

.mb25 {
  margin-bottom: 25px; }

.mb30 {
  margin-bottom: 30px; }

.ml5 {
  margin-left: 5px; }

.ml10, .user-info .user-desc, .mem-list .item .head .mem-desc {
  margin-left: 10px; }

.ml15 {
  margin-left: 15px; }

.ml20 {
  margin-left: 20px; }

.ml25 {
  margin-left: 25px; }

.ml30 {
  margin-left: 30px; }

.pt5 {
  padding-top: 5px; }

.pt10 {
  padding-top: 10px; }

.pt15 {
  padding-top: 15px; }

.pt20 {
  padding-top: 20px; }

.pt25 {
  padding-top: 25px; }

.pt30 {
  padding-top: 30px; }

.pr5 {
  padding-right: 5px; }

.pr10 {
  padding-right: 10px; }

.pr15 {
  padding-right: 15px; }

.pr20 {
  padding-right: 20px; }

.pr25 {
  padding-right: 25px; }

.pr30 {
  padding-right: 30px; }

.pb5 {
  padding-bottom: 5px; }

.pb10 {
  padding-bottom: 10px; }

.pb15 {
  padding-bottom: 15px; }

.pb20 {
  padding-bottom: 20px; }

.pb25 {
  padding-bottom: 25px; }

.pb30 {
  padding-bottom: 30px; }

.pl5 {
  padding-left: 5px; }

.pl10 {
  padding-left: 10px; }

.pl15 {
  padding-left: 15px; }

.pl20 {
  padding-left: 20px; }

.pl25 {
  padding-left: 25px; }

.pl30 {
  padding-left: 30px; }

.hide {
  display: none; }

.mem-list .item .head, .mem-list .item .pub-content, .mem-list .item .pub-content .pub-imgs {
  *zoom: 1; }
  .mem-list .item .head:before, .mem-list .item .pub-content:before, .mem-list .item .pub-content .pub-imgs:before, .mem-list .item .head:after, .mem-list .item .pub-content:after, .mem-list .item .pub-content .pub-imgs:after {
    content: "";
    display: table;
    font: 0/0 a; }
  .mem-list .item .head:after, .mem-list .item .pub-content:after, .mem-list .item .pub-content .pub-imgs:after {
    clear: both; }

body {
  font-size: 13px;
  color: #000;
  font-family: "Microsoft YaHei";
  background-color: #f2f2f2; }

.txt-input {
  border: none;
  border-bottom: 1px solid #e5e5e5;
  height: 30px;
  line-height: 30px;
  padding: 2px 5px;
  box-sizing: border-box;
  display: block;
  width: 100%;
  letter-spacing: 2px;
  font-weight: 500;
  background-color: transparent; }

.txt-input[readonly] {
  border: none; }

.login, .regist {
  width: 7rem;
  margin-left: .25rem;
  position: fixed;
  bottom: 30%; }
  .login input, .regist input {
    margin-bottom: 10px; }
  .login .input-uname, .login .input-pwd, .regist .input-uname, .regist .input-pwd {
    position: relative; }
    .login .input-uname .iconfont, .login .input-pwd .iconfont, .regist .input-uname .iconfont, .regist .input-pwd .iconfont {
      color: #333;
      position: absolute;
      bottom: 8px;
      left: 5px;
      vertical-align: middle; }
    .login .input-uname input, .login .input-pwd input, .regist .input-uname input, .regist .input-pwd input {
      padding: 0 25px;
      line-height: normal;
      vertical-align: middle; }
    .login .input-uname .pwd-look, .login .input-pwd .pwd-look, .regist .input-uname .pwd-look, .regist .input-pwd .pwd-look {
      left: auto;
      right: 5px;
      width: 20px;
      text-align: right; }
    .login .input-uname .pwd-look.active, .login .input-pwd .pwd-look.active, .regist .input-uname .pwd-look.active, .regist .input-pwd .pwd-look.active {
      color: #333333; }
  .login.changepwd, .regist.changepwd {
    bottom: 40%; }

.btn-green {
  background-color: #1DAF4D; }

.btn-gray {
  background-color: #55534C; }

.reg-tip {
  margin-top: 30px;
  text-align: center;
  display: block; }

.menu {
  position: fixed;
  bottom: .1rem;
  width: 100%;
  text-align: center; }
  .menu .menu-container {
    position: relative;
    width: 0.8rem;
    height: 0.8rem;
    display: block;
    margin: 0 auto; }
    .menu .menu-container a {
      color: #333; }
  .menu a {
    font-size: 0.8rem; }
    .menu a.menu-child {
      position: absolute;
      display: block;
      font-size: 0.6rem; }
    .menu a.members {
      top: -0.16rem;
      left: -1.92rem; }
    .menu a.user-center {
      top: -0.16rem;
      right: -1.92rem; }
    .menu a.actived {
      color: #08B62C; }
    .menu a.home {
      top: -1.04rem;
      right: -0.8rem; }
    .menu a.write {
      top: -1.04rem;
      left: -0.8rem; }

.user-info {
  position: relative;
  line-height: 1rem;
  overflow: hidden; }
  .user-info img {
    width: 1rem;
    height: 1rem;
    float: left; }
  .user-info .user-desc {
    display: inline-block;
    line-height: 20px; }
  .user-info .username {
    color: #b3b3b3; }
  .user-info .go {
    top: .5rem !important; }

.toolbar {
  color: #333;
  display: block;
  background-color: #fff;
  padding: 0.1rem;
  margin-top: .3rem;
  line-height: 1;
  position: relative; }
  .toolbar.p2 {
    padding: 0.2rem; }
  .toolbar .go {
    position: absolute;
    right: .1rem;
    top: .2rem;
    color: #999; }

/*eidt*/
.edit {
  background-color: #fff;
  padding: 0.1rem; }
  .edit .row {
    border-bottom: 1px solid #e5e5e5;
    overflow: hidden;
    vertical-align: middle;
    display: table;
    width: 7.1rem;
    line-height: 39px;
    padding: 0.1rem; }
    .edit .row img {
      width: 1rem;
      height: 1rem;
      display: inline-block;
      vertical-align: middle; }
    .edit .row .label {
      display: table-cell;
      vertical-align: middle; }
    .edit .row .edit-info, .edit .row .edit-info input {
      color: gray; }
    .edit .row .edit-info {
      display: table-cell;
      text-align: right;
      float: right; }
      .edit .row .edit-info input {
        border: none;
        text-align: right; }
    .edit .row:last-child {
      border: none !important; }

.mask {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9; }

.box {
  position: absolute;
  z-index: 10;
  background-color: #fff;
  top: 40%;
  border-radius: 4px;
  width: 7.5rem;
  box-sizing: border-box;
  padding: 0.1rem; }
  .box .item {
    padding: 0.1rem;
    border-bottom: 1px solid #e5e5e5; }
    .box .item:last-child {
      border: none !important; }

.mem-list .item {
  margin-bottom: 0.2rem;
  background-color: #fff; }
  .mem-list .item .head {
    padding: 0.1rem; }
    .mem-list .item .head .avatar {
      border-radius: 1rem;
      width: 1rem;
      overflow: hidden;
      float: left; }
      .mem-list .item .head .avatar img {
        width: 1rem;
        height: 1rem; }
    .mem-list .item .head .mem-desc {
      float: left;
      line-height: .5rem;
      color: #333; }
  .mem-list .item .pub-img {
    background-color: #f2f2f2;
    text-align: center;
    font-size: 0; }
    .mem-list .item .pub-img img {
      max-width: 7.5rem;
      max-height: 7.5rem; }
  .mem-list .item .pub-content {
    padding-bottom: 0.1rem; }
    .mem-list .item .pub-content .pub-imgs .pub-img {
      padding-right: 0.1rem;
      box-sizing: border-box;
      width: 2.5rem;
      height: 2.5rem;
      float: left;
      background-color: #fff;
      vertical-align: middle;
      line-height: 2.5rem;
      text-align: center; }
      .mem-list .item .pub-content .pub-imgs .pub-img img {
        max-width: 100%;
        max-height: 100%; }
      .mem-list .item .pub-content .pub-imgs .pub-img:last-child {
        padding: 0 !important; }
  .mem-list .item .pub-desc, .mem-list .item .pub-praises {
    padding: 0.1rem; }
  .mem-list .item .follow {
    float: right;
    line-height: .5rem;
    border: 2px solid #000;
    padding: 0 0.1rem;
    color: #333; }
    .mem-list .item .follow.ed {
      color: #fff;
      background-color: #000; }
